body {
  font-family: "Finlandica", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.orange-color {
  color: orange;
}
.flexible-container {
  display: flex;
  margin-bottom: 100px;
}
.myname {
  color: orange;
  font-size: 20px;
  font-family: sans-serif;
}
.half-width {
  width: 50%;
  padding-left: 2%;
}
.half-width img {
  width: 80%;
}
.link-button {
  text-decoration: none;
  background-color: orange;
  background-image: linear-gradient(45deg, lightsalmon, tomato);
  color: aliceblue;
  padding: 10px 40px;
  border-radius: 10px;
}
.dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.experience {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.experience-item {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 40px gray;
  height: 50%;
}
#full-stack {
  background-color: antiquewhite;
  border-left: 7px solid;
  border-image: linear-gradient(180deg, lightsalmon, tomato);
  border-image-slice: 1;
}
#baby {
  background-color: antiquewhite;
  border-left: 7px solid;
  border-image: linear-gradient(180deg, rgb(1, 90, 126), rgb(14, 83, 1));
  border-image-slice: 1;
}
footer p {
  text-align: center;
  font-size: 12px;
}
.box {
  box-shadow: 10px 10px 40px gray;
  border-radius: 10px;
  height: 50%;
}
